html, body {
	height: 100%;
	background-color: pink;
}

.login_text {
	text-align: center;
}

.form {
	padding-top: 150px;
}

#form_login {
	margin: 10px;
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
}