html, body {
	height: 100%;
}

.login_text {
	text-align: center;
}

.form {
	margin-top: 150px;
}

#form_login {
	margin: 10px;
	background-color: rgba(255, 0, 0, 0.6);
	padding: 20px;
	opacity: 0.7;
	border-radius: 5px;
}